// 浏览器默认样式重置
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline}
html {line-height: 1}
ol, ul {list-style: none}
table {border-collapse: collapse; border-spacing: 0}
caption, th, td {text-align: left; font-weight: normal; vertical-align: middle}
q, blockquote {quotes: none}
q:before, q:after, blockquote:before, blockquote:after {content: ""; content: none}
a, img {border: none}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {display: block}

// 文字排版
$fi: 6;
@while $fi <= 10 {
  .f#{$fi * 2} {font-size: $fi * 2px}
  $fi: $fi + 1
}
.f0 {font-size: 0}
.fb {font-weight: bold}
.fn {font-weight: normal}
.t2 {text-indent: 2em}
.tu {text-decoration: underline}
.tn {text-decoration: none}

// 定位布局
.tl {text-align: left}
.tc {text-align: center}
.tr {text-align: right}
.fl {float: left; display: inline}
.fr {float: right; display: inline}
.clearfix {*zoom: 1}
.clearfix:after {content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden}
.vt {vertical-align: top}
.vm {vertical-align: middle}
.vb {vertical-align: bottom}
.dn {display: none}
.db {display: block}
.di {display: inline}
.dib {display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline}
.bsb {box-sizing: border-box}
.bsc {box-sizing: content-box}
.pr {position: relative}
.pa {position: absolute}
.palt {top: 0; left: 0; position: absolute}
.part {top: 0; right: 0; position: absolute}
.palb {bottom: 0; left: 0; position: absolute}
.parb {bottom: 0; right: 0; position: absolute}
.mc {position:absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)}
$zi: 10;
@for $i from 0 through $zi {
  .z#{$i} {width: 10 * $i}
}

// 宽高
$wi: 24; // 24格
@for $i from 1 through $wi {
  .col#{$i} {width: (100% / $wi) * $i}
}
.wp50 {width: 50%}
.wp100 {width: 100%}
.hp50 {height: 50%}
.hp100 {height: 100%}

// 边距
.ma {margin: 0 auto}
$mi: 6;
@while ($mi > 0) {
  $cm: $mi * 5;
  .mt#{$cm} {
    margin-top: $cm * 1px
  }
  .mr#{$cm} {
    margin-right: $cm * 1px
  }
  .mb#{$cm} {
    margin-bottom: $cm * 1px
  }
  .ml#{$cm} {
    margin-left: $cm * 1px
  }
  .pt#{$cm} {
    padding-top: $cm * 1px
  }
  .pr#{$cm} {
    padding-right: $cm * 1px
  }
  .pb#{$cm} {
    padding-bottom: $cm * 1px
  }
  .pl#{$cm} {
    padding-left: $cm * 1px
  }
  $mi: $mi - 1
}

// 其他
.cp {cursor: pointer}
.oh {overflow: hidden}
.oa {overflow: auto}
.oax {overflow-x: auto; overflow-y: hidden}
.oay {overflow-y: auto; overflow-x: hidden}
.sb {
  // 定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸 width: 0锤子滚动条隐藏 height: 0水平滚动条隐藏
  $sh: 10px;
  &::-webkit-scrollbar {width: 0; height: $sh; background-color: transparent}
  // 定义滚动条轨道 内阴影+圆角
  &::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 $sh / 2 rgba(0, 0, 0, 0); border-radius: $sh / 2; background-color: transparent}
  // 定义滑块 内阴影+圆角
  &::-webkit-scrollbar-thumb {border-radius: $sh / 2; -webkit-box-shadow: inset 0 0 $sh / 2 rgba(0, 0, 0, 0); background-color: #ccc}
}
.tes {white-space: nowrap; overflow: hidden; text-overflow: ellipsis}
.mto {content: ''; display: table}